.finally {
    margin-bottom: 409px;
}
.finally-title {
    font-family: 'Zekton';
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 1;
    background: linear-gradient(271.94deg, #BDFEFF -1.93%, #0AF9FA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0;
    margin-bottom: 90px;
}

.finally-button {
    border-radius: 10px;
    width: 330px;
    height: 75px;
    border: 2px solid #0AF9FA;
    font-family: 'Inter';
    background: none;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 1.2;
    color: #0AF9FA;
    transition: all .2s ease-in ;
}

.finally-button:hover {
    background: #0AF9FA;
    color: black;
}