

@media (max-width: 1300px) and (min-width: 1000px) {
    .introduction_content {
        margin-left: 30px;
    }
    .introduction_content__h2 {
        font-size: 60px;
    }
    .introduction_img {
        margin-right: 40px;
    }

     .wave_container {
        max-width: 97vw;
    }
    .wave_container2 {
        max-width: 97vw;
    }
    .wave_container3 {
        max-width: 97vw;
    }
    .wave_container4 {
        max-width: 97vw;
    }

    .mission_content {
        margin-left: 30px;
    }

    .mission_img {
        margin-right: 10px;
    }

    .ourWork_title {
        margin-left: 30px;
    }

    .advantages-title {
        margin-left: 30px;
    }

    .services-title {
        margin-left: 30px;
    }

    .services_cards-1 {
        justify-content: center;
        margin-bottom: 20px;
    }

    .finally-title {
        margin-left: 30px;
    }

    .finally-button {
        margin-left: 30px;
    }

    .modal_form__container2 {
        margin-top: 30px;
    }
    .modal_cross {
      top: 35px
    }
    .modal_cross img {
      height: 30px;
      width: 30px;
    }
    .modal_form__inputs {
      height: 50px;
      margin-bottom: 20px;
    }
    .modal_form__textarea {
      height: 65px;
    }
    .select, .select__header {
      height: 50px;
    }
    .modal_button, .input-file {
      height: 55px;
    }
    .footer_span {
      margin-left: 2vw;
    }
    .modal_wrapper {
      margin-top: 24px;
    }
}
