.services {
    margin-bottom: 150px;
}
.services-title {
    font-family: 'Zekton';
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    line-height: 1.2;
    background: linear-gradient(271.94deg, #BDFEFF -1.93%, #0AF9FA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.services_cards-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20.5px;
}

.services_card-cnt {
    width: 449px;
    margin-bottom: 10px;

}

.img_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    color: #BDFEFF;
    text-align: center;
}

.services_cards-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20.5px;
    max-width: 1400px;
}
.services_card-cnt-2 {
    margin-top: 25px;
    width: 449px;
}

.img_title-2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    color: #BDFEFF;
    text-align: center;
}

.services_cards-img {
    position: relative;
    left: -2px;
    z-index: -1;
}

/*.services_cards__img-text {*/
/*  position: absolute;*/
/*  background: #0AF9FA;*/
/*  border-radius: 0;*/
/*  width: 500px;*/
/*  height: 76px;*/
/*  z-index: 1;*/
/*  transform: rotate(90deg);*/
/*  top: 5500px;*/
/*  left: 70px;*/
/*}*/

.services_cards__img-text h2 {
  font-family: 'Zekton', sans-serif;
  writing-mode: vertical-rl;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  margin-left: 15px;
}

.services_cards__img-text {
  width: 56px;
  height: 500px;
  margin-bottom: -500px;
  display: flex;
  align-items: center;
  margin-left: 35px;
  background-color: #0AF9FA;
}



.services_cards-img-2 {
    position: relative;
    left: -2px;
    z-index: -1;
}
