* {
  box-sizing: border-box;
}


body {

  background: linear-gradient(283.99deg, #0AF9FA -638.99%, #19181C 102.95%);
  /*background: rgb(7,80,78);*/
  /*background: linear-gradient(283deg, rgba(7,80,78,1) 9%, rgba(6,69,69,1) 14%, rgba(17,57,60,1) 39%, rgba(30,30,32,1) 76%);*/
}

a {
  text-decoration: none;
  color: #BDFEFF;
}


/*/ helpers /*/
.container {
  margin: 0 auto;
  width: 1170px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 200vh;
}

/*/////////////*/

